
{% extends 'dummy.html' %}

{% block title %}
    <title>Update password</title>
{% endblock %}

<body>
    {% block body_block %}
    <center>
        <h1>change password form</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="password">New password</label>
            <input type="password" name="password" id="password"><br><br>

            <input type="submit" value="change password" class="btn btn-secondary">
        </form>


        
        

    </center>
    {% endblock %}
</body>
</html>