
{% extends 'dummy.html' %}

{% block title %}
    <title>Homepage</title>
{% endblock %}

<body>
    {% block body_block %}
    <center>
      <br><br><br>
      <h1>Reset password</h1>
      <br><br>
      <form method="POST">
        {% csrf_token %}
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" placeholder="Enter your username"><br><br>
        <label for="password">Enter new password</label><br>
        <input type="password" name="password" id="password" placeholder="New password"><br><br>
        <label for="passwords">Re-Enter password</label><br>
        <input type="password" name="passwords" id="passwords" placeholder="Re-Enter"><br><br>

        {{MSG}}
        <br>

        <input type="submit" value="Reset" class="btn btn-info">
      </form>

        
        

    </center>
    {% endblock %}
</body>
</html>