
{% extends 'dummy.html' %}

{% block title %}
    <title>Homepage</title>
{% endblock %}

<body>
    {% block body_block %}
    <center>
      <br><br><br>
      <h1>Reset password</h1>
      <br><br>
      <form method="post">
        {% csrf_token %}
        <label for="username">OTP sent to your Email</label><br>
        <input type="text" name="vcode" id="vcode" placeholder="Enter verification code"><br><br>
        
        

        <input type="submit" value="Verify" class="btn btn-info">
      </form>

        
        

    </center>
    {% endblock %}
</body>
</html>